:root {
    --title-text-color: #212121;
    --primary-text-color: #757575;
}
body {
    background: #FFFFFF;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif; 
    letter-spacing: 0.03em;
}
.link {
    text-decoration: none;
}
.list, .list-buttons, .list-img {
    padding: 0;
    margin: 0;
    list-style: none;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    border-bottom: 1px solid #ECECEC;
}
/*Логотип */
.logo {
    margin-right: 93px;
    
    color: #2196F3;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
}
.logo .accent{
    color: #000000;
}
/* Навигация сайта */
.top-line, .nav {
    display: flex;
    align-items: center;
}
.site-nav,
.contacs-nav {
    display: flex;
    margin-left: auto;
}
.site-nav .item:not(:last-child),
.contacs-nav .item:not(:last-child) {
    margin-right: 50px;
}
.site-nav .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contacs-nav .link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.envelope{
    width: 16px;
    height: 12px;
    margin-right: 10px;
}
.smartphone{
    width: 10px;
    height: 16px;
    margin-right: 10px;
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacs-nav .link:hover,
.contacs-nav .link:focus { 
    color: #2196F3;
}
.site-nav .link.current {
    color: #2196F3;
} 
/* Герой */
.hero {
    background-color: #C4C4C4;
    height: 600px;
    max-width: 1600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ), url(../images/hero.jpg);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 30px;
}
/* Секции */
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
/* Секции главной страницы */
.section-features{
    padding-bottom: 47px;
}
.section-job{
    padding-top: 47px;
}
.section-features .list,
.section-job .list,
.section-team .list{
    display: flex;
}
.section-features .item:not(:last-child),
.section-job .item:not(:last-child),
.section-team .item:not(:last-child) {
        margin-right: 30px;
}
.section-features .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;
}
.section-features .text{
    font-size: 14px;
    line-height: 1.71;
    margin-top: 0px;
    margin-bottom: 0px;
}
.picture, .foto{
    display: block;
}
.section-job .title,
.section-team .title{
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}
.section-team { 
    background-color: #F5F4FA;
}
.description-foto{
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-team .name{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
}
.section-team .text{
    font-size: 16px;
    line-height: 1.19;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}
/* Секции страницы Порфолио */
.list-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.list-buttons .item:not(:last-child) {
    margin-right: 8px;
}
.list-img {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px; 
}
.list-img .item {
    width: 370px;
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}
.title-text{
    border: 1px solid #ECECEC;
    border-top: 0;
    padding: 20px 24px 20px 24px;
}
.section-portfolio .title{
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 4px;
}
.section-portfolio .text{
    font-size: 16px;
    line-height: 1.87;
    margin-top: 0px;
    margin-bottom: 0;
}
/* Кнопки */
.button {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: 0px;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
}
.button:hover,
.button:focus {
    background-color:  #188CE8;
}
.button-portfolio {
    cursor: pointer;
    color: var(--title-text-color);
    background-color: #F5F4FA;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    border: 0px;
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;
}
.button-portfolio:hover,
.button-portfolio:focus{
    background-color: #2196F3;
    color: #FFFFFF;
}
/* Подвал */
.site-footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.logo-footer{
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
    display: inline-block;
    margin-bottom: 20px;
}
.logo-footer .accent{
    color: #FFFFFF;
}
.address .text{
    color: #FFFFFF;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 9px;
}
.address .link {
    color: #FFFFFF99;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    display: inline-block;
    margin-bottom: 9px;
}
.address .last{
    margin-bottom: 0px;
}
.address .link:hover,
.address .link:focus { 
    color: #2196F3;
}